:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: var(--title-text-color);
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo--black {
  color: var(--title-text-color);
}

.logo--white {
  color: var(--primary-white-color);
}

.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:active, .main-button:hover, .main-button:focus {
  background-color: #188ce8;
}

.social {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  fill: var(--accent-color);
  cursor: pointer;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  position: relative;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.form-field__label {
  margin-bottom: 4px;
}

.form-field__input {
  height: 40px;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus, .form-field__input:active {
  outline: none;
  border-color: var(--accent-color);
}

.form-field-comment__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form-field-comment__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 30px;
}

.form-agreement__checkbox {
  opacity: 0;
}

.form-agreement__label {
  position: relative;
  padding-left: 7px;
}

.form-agreement__icon {
  opacity: 1;
  position: absolute;
  left: -16px;
  top: 0;
}

.form-agreement__checkbox:checked + .form-agreement__label .form-agreement__icon {
  opacity: 0;
}

.form-agreement__icon--checked {
  position: absolute;
  left: -16px;
  top: 0;
  opacity: 0;
}

.form-agreement__checkbox:checked + .form-agreement__label .form-agreement__icon--checked {
  opacity: 1;
}

.form-agreement__link {
  color: var(--accent-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  color: var(--title-text-color);
  padding: 32px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav .site-nav__current {
  color: var(--accent-color);
}

.site-nav__link.site-nav__current::after,
.site-nav__link::after {
  content: "";
  width: 100%;
  height: 4px;
  /* background-color: var(--accent-color); */
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.site-nav__current::after,
.site-nav__link:hover::after,
.site-nav__link:focus::after {
  background-color: var(--accent-color);
}

.header-contact {
  margin-left: auto;
}

.header-contact-list__link {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-list__link:hover, .header-contact-list__link:focus {
  color: var(--accent-color);
}

.header-contact-list {
  display: flex;
}

.header-contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-contact-list__icon, .header-contact-list__icon {
  fill: currentColor;
}

.hero {
  width: 1600px;
  margin: 0 auto;
  background: #2f303a;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.advantage-list {
  display: flex;
  gap: 30px;
}

.advantage-list__item {
  width: calc((100% - 90px) / 4);
}

.advantage-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}

.what-we-do {
  padding-top: 0;
}

.what-we-do__title--mb {
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
  gap: 30px;
}

.what-we-do-list__item {
  width: calc((100% - 60px) / 3);
}

.what-we-do-list__box {
  position: relative;
}

.what-we-do-list__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  background-color: #f5f4fa;
}

.team__title--mb {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  background-color: var(--primary-white-color);
  width: calc((100% - 90px) / 4);
}

.team-list__description {
  padding: 30px 0;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.clients__title--mb {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list__link {
  display: block;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.logo--mb {
  margin-bottom: 20px;
}

.address__text {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
  gap: 93px;
}

.footter-call__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: var(--primary-white-color);
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
}

.wrapper-subscribe__input--mr {
  margin-right: 12px;
}

.subscribe-form__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe-form__input {
  width: 328px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
  color: var(--primary-white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__input:focus {
  border-color: var(--accent-color);
}

.subscribe-button__icon {
  fill: currentColor;
}

.subscribe-form .main-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.secondary {
  background-color: #f5f4fa;
}
.secondary:hover, .secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.primary,
.secondary:hover,
.secondary:focus {
  cursor: pointer;
}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter-list__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
}

.primary.portfolio-filter-list__btn {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.secondary.portfolio-filter-list__btn {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secondary.portfolio-filter-list__btn:hover, .secondary.portfolio-filter-list__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter-list__item {
  min-width: 73px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-list__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__description {
  padding: 20px 24px;
  flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__description {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.portfolio-list__link:hover .overlay,
.portfolio-list__link:focus .overlay {
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */