.advantage-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet{
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    @include desktop{
      gap: 30px;
    }
  }
  
  .advantage-list__item {
   
    width: auto;
    @include tablet{
      width: calc((100% - 30px) / 2);
    }
    @include desktop{
      width: calc((100% - 3 * 30px) / 4);
    }
  }
  
  .advantage-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    @include tablet{
      text-align: start;
    }

  }
  
  .advantage-list__text {
    font-size: 14px;
    line-height: 1.71;
  
    letter-spacing: 0.03em;
  }
  .advantage-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    height: 120px;
  }