.page-header {
    border-bottom: 1px solid #ececec;
    padding: 16px 0;

    @include tablet{
      padding: 0;
    }
    // добавила паддинг
  }

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    @include tablet{
      justify-content: space-between;  
    }
  }

.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
.site-nav__list {
    
    display: none;

    @include tablet{
      display: flex;
    }
  }
.site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .site-nav__link {
    display: block;
    color: var(--title-text-color);
    padding: 32px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .site-nav .site-nav__current {
    color: var(--accent-color);
  }
  .site-nav__link.site-nav__current::after,
  .site-nav__link::after {
    content: "";
    width: 100%;
    height: 4px;
    /* background-color: var(--accent-color); */
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link.site-nav__current::after,
  .site-nav__link:hover::after,
  .site-nav__link:focus::after {
    background-color: var(--accent-color);
  }


  .header-contact {

    @include desktop{
      margin-left: auto;
    }
    
  }
  .header-contact-list__link {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
   
    letter-spacing: 0.02em;

    @include desktop{
      font-size: 14px;
      line-height: 1.14;
    }
  }
  .header-contact-list__link {
    display: flex;
    
    
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
    @include desktop{
       padding: 32px 0;
       justify-content: center;
    }
  }
  
  .header-contact-list {
    display: none;
    @include tablet{
      display: flex;
      flex-direction: column;
    }
    @include desktop{
      flex-direction: row;
    }
  }

  .header-contact-list__item:not(:last-child) {
    margin-bottom: 10px;
    @include desktop{
      margin-right: 50px;
    }
    

  }
  
  .header-contact-list__icon {
    fill: currentColor;
    margin-right: 10px;
    &,
    & {
    fill: currentColor;
  }
  }

  .menu_btn {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
  
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    &:hover .menu_btn-icon, 
    &:focus .menu_btn-icon{
      fill: var(--accent-color);
    }

    @include tablet{
      display: none;
    }

  }

  .menu_btn-icon{
    fill: var(--title-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }