.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
  
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
  
    display: block;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover,
    &:focus {
    background-color: #188ce8;
    }
  }
